.fab, .fa-github {
    color: black;
}

ul.social-buttons {
    text-align: center;
    margin-top: 50px;
  }
  
  ul.social-buttons li {
    display: inline-block;
    margin: 0 10px;
  }
  
  ul.social-buttons li a {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50px;
    text-decoration: none;
    font-size: 30px;
    line-height: 60px;
    color: white;
  }

/*Demo 1*/
ul#social-button li a {
  transition: transform 0.2s linear;
}

ul#social-button li:hover a {
  transform: translateY(-10px);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  .container .text-muted {
    margin: 20px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }