/* You can add global styles to this file, and also import other style files */
.jumbotron {
    background-color: #c5cae9;
    margin-bottom: 0;
    margin-top: 55px;
}

* {
    box-sizing: border-box;
}