<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Viola Sheet Music Collection</h1>
        <p class="lead text-muted">Selected songs to help you practice counting, rhythm, and tone</p>
    </div>
</section>

<div class="album py-5 bg-dark">
    <div class="container">

        <h2 class="section-header">Exercises</h2>
        <br>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/exercises/Viola Bowing Exercises.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Viola Bowing Exercises</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/exercises/Viola Bowing Exercises.pdf"
                                    download="Violin Bowing Exercises">Download</a>
                            </div>
                            <small class="text-muted">Emily Cid</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/exercises/Viola C Major Broken Thirds Scale.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">C Major Broken Thirds Scale</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/exercises/Viola C Major Broken Thirds Scale.pdf"
                                    download="Viola C Major Broken Thirds Scale">Download</a>
                            </div>
                            <small class="text-muted">Emily Cid</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/exercises/Viola D Major Broken Thirds Scale.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">D Major Broken Thirds Scale</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/exercises/Viola D Major Broken Thirds Scale.pdf"
                                    download="Viola D Major Broken Thirds Scale">Download</a>
                            </div>
                            <small class="text-muted">Emily Cid</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/exercises/Preparatory Studies in C Major.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Preparatory Studies in the Key of C Major</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/exercises/Preparatory Studies in C Major.pdf"
                                    download="Preparatory Studies in the Key of C Major">Download</a>
                            </div>
                            <small class="text-muted">Emily Cid</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 5 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/exercises/Preparatory Studies in F Major.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Preparatory Studies in the Key of F Major</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/exercises/Preparatory Studies in F Major.pdf"
                                    download="Preparatory Studies in the Key of F Major">Download</a>
                            </div>
                            <small class="text-muted">Emily Cid</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="album py-5 bg-dark">
    <div class="container">

        <h2 class="section-header">Compositions</h2>
        <br>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Double Stop March for Viola.png" class="card-img-top"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Double Stop March</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Double Stop March for Viola.pdf"
                                    download="Double Stop March">Download</a>
                            </div>
                            
                            <small class="text-muted">Elliot Del Borgo<br>arr. by Emily Cid</small>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<div class="album py-5 bg-dark">
    <div class="container">

        <h4 class="sub-section-header">Handel Royal Fireworks Suite</h4>
        <h5 class="sub-section-header">La Rejouissance</h5>
        <br>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Full Score.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite La Rejouissance</p>
                        <p><b>Full Score</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Full Score.pdf"
                                    download="Handel Royal Fireworks Suite La Rejouissance Full Score">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Viola Harmony A.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite La Rejouissance</p>
                        <p><b>Harmony A</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Viola Harmony A.pdf"
                                    download="Handel Royal Fireworks Suite La Rejouissance Viola Harmony A">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Viola Harmony B.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite La Rejouissance</p>
                        <p><b>Harmony B</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Viola Harmony B.pdf"
                                    download="Handel Royal Fireworks Suite La Rejouissance Viola Harmony B">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Viola Melody.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite La Rejouissance</p>
                        <p><b>Melody</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Viola Melody.pdf"
                                    download="Handel Royal Fireworks Suite La Rejouissance Viola Melody">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="album py-5 bg-dark">
    <div class="container">

        <h4 class="sub-section-header">Handel Royal Fireworks Suite</h4>
        <h5 class="sub-section-header">Menuet</h5>
        <br>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Full Score.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite Menuet</p>
                        <p><b>Full Score</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Full Score.pdf"
                                    download="Handel Royal Fireworks Suite Menuet Full Score">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Viola Harmony A.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite Menuet</p>
                        <p><b>Harmony A</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Viola Harmony A.pdf"
                                    download="Handel Royal Fireworks Suite Menuet Viola Harmony A">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Viola Harmony B.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite Menuet</p>
                        <p><b>Harmony B</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Viola Harmony B.pdf"
                                    download="Handel Royal Fireworks Suite Menuet Viola Harmony B">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Viola Melody.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite Menuet</p>
                        <p><b>Melody</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Viola Melody.pdf"
                                    download="Handel Royal Fireworks Suite Menuet Viola Melody">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="album py-5 bg-dark">
    <div class="container">

        <h4 class="sub-section-header">Tartini Trio Sonata Op. 8</h4>
        <h5 class="sub-section-header">Andante</h5>
        <br>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Tartini Trio Sonata Op. 8 Andante/Full Score.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Tartini Trio Sonata Op. 8 Andante</p>
                        <p><b>Full Score</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Tartini Trio Sonata Op. 8 Andante/Full Score.pdf"
                                    download="Tartini Trio Sonata Op. 8 Andante Full Score">Download</a>
                            </div>
                            <small class="text-muted">Tartini</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Tartini Trio Sonata Op. 8 Andante/Viola Harmony A.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Tartini Trio Sonata Op. 8 Andante</p>
                        <p><b>Harmony A</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Tartini Trio Sonata Op. 8 Andante/Viola Harmony A.pdf"
                                    download="Tartini Trio Sonata Op. 8 Andante Viola Harmony A">Download</a>
                            </div>
                            <small class="text-muted">Tartini</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Tartini Trio Sonata Op. 8 Andante/Viola Harmony B.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Tartini Trio Sonata Op. 8 Andante</p>
                        <p><b>Harmony B</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Tartini Trio Sonata Op. 8 Andante/Viola Harmony B.pdf"
                                    download="Tartini Trio Sonata Op. 8 Andante Viola Harmony B">Download</a>
                            </div>
                            <small class="text-muted">Tartini</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/viola/pieces/Tartini Trio Sonata Op. 8 Andante/Viola Melody.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Tartini Trio Sonata Op. 8 Andante</p>
                        <p><b>Melody</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/viola/pieces/Tartini Trio Sonata Op. 8 Andante/Viola Melody.pdf"
                                    download="Tartini Trio Sonata Op. 8 Andante Viola Melody">Download</a>
                            </div>
                            <small class="text-muted">Tartini</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
