<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Recordings</h1>
        <p class="lead" id="jumbotron-subtext">Listen to recordings of these songs to aid in your practicing</p>
    </div>
</section>

<div class="album py-5 bg-dark">
    <div class="container">

        <h2 class="section-header">Violin Recordings</h2>
        <br>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-12">
                <div class="card mb-4 box-shadow">
                    <iframe width="100%" height="394" src="https://musescore.com/user/5327706/scores/6307750/embed" 
                    frameborder="0" allowfullscreen allow="autoplay; fullscreen"></iframe>
                    <div class="card-body">
                        <p class="card-text"><b>
                                <h4>Violin Scales</h4>
                            </b></p>
                        <p class="text-muted">Emily Cid</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-primary"
                                    href="https://musescore.com/user/5327706/scores/6307750" target="_blank">View in
                                    Musescore</a>
                            </div>
                            <small class="text-muted">Score by <a href="https://musescore.com/user/5327706"
                                    target="_blank">Emily Cid</a></small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-12">
                <div class="card mb-4 box-shadow">
                    <iframe width="100%" height="394" src="https://musescore.com/user/5327706/scores/6300072/embed"
                        frameborder="0" allowfullscreen allow="autoplay; fullscreen"></iframe>
                    <div class="card-body">
                        <p class="card-text"><b>
                                <h4>Lightly Row</h4>
                            </b></p>
                        <!-- <p class="text-muted">Composer</p> -->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-primary"
                                    href="https://musescore.com/user/5327706/scores/6300072" target="_blank">View in
                                    Musescore</a>
                            </div>
                            <small class="text-muted">Score by <a href="https://musescore.com/user/5327706"
                                    target="_blank">Emily Cid</a></small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="album py-5 bg-dark">
    <div class="container">

        <h2 class="section-header">Viola Recordings</h2>
        <br>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-12">
                <div class="card mb-4 box-shadow">
                    <iframe width="100%" height="394" src="https://musescore.com/user/5327706/scores/6307748/embed" frameborder="0" allowfullscreen allow="autoplay; fullscreen"></iframe>
                    <div class="card-body">
                        <p class="card-text"><b>
                                <h4>Viola Arpeggios</h4>
                            </b></p>
                        <p class="text-muted">Emily Cid</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-primary"
                                    href="https://musescore.com/user/5327706/scores/6307748" target="_blank">View in
                                    Musescore</a>
                            </div>
                            <small class="text-muted">Score by <a href="https://musescore.com/user/5327706"
                                    target="_blank">Emily Cid</a></small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-12">
                <div class="card mb-4 box-shadow">
                    <iframe width="100%" height="394" src="https://musescore.com/user/5327706/scores/6300061/embed" 
                    frameborder="0" allowfullscreen allow="autoplay; fullscreen"></iframe>
                    <div class="card-body">
                        <p class="card-text"><b>
                                <h4>Viola Bowing Exercises</h4>
                            </b></p>
                        <p class="text-muted">Emily Cid</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-primary"
                                    href="https://musescore.com/user/5327706/scores/6300061" target="_blank">View in
                                    Musescore</a>
                            </div>
                            <small class="text-muted">Score by <a href="https://musescore.com/user/5327706"
                                    target="_blank">Emily Cid</a></small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-12">
                <div class="card mb-4 box-shadow">
                    <iframe width="100%" height="394" src="https://musescore.com/user/5327706/scores/6300079/embed" frameborder="0" allowfullscreen allow="autoplay; fullscreen"></iframe>
                    <div class="card-body">
                        <p class="card-text"><b>
                                <h4>Preparatory Studies in the Key of C Major</h4>
                            </b></p>
                        <p class="text-muted">Emily Cid</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-primary"
                                    href="https://musescore.com/user/5327706/scores/6300079" target="_blank">View in
                                    Musescore</a>
                            </div>
                            <small class="text-muted">Score by <a href="https://musescore.com/user/5327706"
                                    target="_blank">Emily Cid</a></small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-12">
                <div class="card mb-4 box-shadow">
                    <iframe width="100%" height="394" src="https://musescore.com/user/5327706/scores/6300046/embed" frameborder="0" allowfullscreen allow="autoplay; fullscreen"></iframe>
                    <div class="card-body">
                        <p class="card-text"><b>
                                <h4>Double Stop March</h4>
                            </b></p>
                        <p class="text-muted">Elliot Del Borgo, arr. by Emily Cid</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-primary"
                                    href="https://musescore.com/user/5327706/scores/6300046" target="_blank">View in
                                    Musescore</a>
                            </div>
                            <small class="text-muted">Score by <a href="https://musescore.com/user/5327706"
                                    target="_blank">Emily Cid</a></small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>