.btn {
    color: #5c6bc0;
    outline-color: #7986cb;
    border-color: #5c6bc0;
}

.btn:hover {
    color: white;
    background-color: #5c6bc0;
}

a {
    color: #5c6bc0;
}

.card-body {
    background-color: #d3d0e4;
}