.jumbotron {
    background-color: #c5cae9;
    margin-bottom: 0;
    margin-top: 55px;

    /* Jumbotron Background Image */
    background-image: url(assets/img/jumbotron/purple-orchestra.jpeg);
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 0px!important;
    height: 40vh;
}

/* Main Jumbotron Text */
.jumbotron-heading {
    font-family: 'Shojumaru', cursive;
    color: #e8eaf6;
    margin-top: 8vh;
}

/* Jumbotron Subtext */
#jumbotron-subtext {
    color: #c5cae9;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 16px;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}