<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Violin Sheet Music Collection</h1>
        <p class="lead text-muted">Selected songs to help you practice counting, rhythm, and tone</p>
    </div>
</section>

<div class="album py-5 bg-dark">
    <div class="container">

        <h2 class="section-header">Exercises</h2>
        <br>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/exercises/Violin Finger and Letter Names Worksheet.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Violin Finger and Letter Names Worksheet</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/exercises/Violin Finger and Letter Names Worksheet.pdf"
                                    download="Violin Finger and Letter Names Worksheet">Download</a>
                            </div>
                            <!-- <small class="text-muted">Composer</small> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/exercises/Violin Fingering Exercises.png" class="card-img-top"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Violin Fingering Exercises</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/exercises/Violin Fingering Exercises.pdf"
                                    download="Violin Fingering Exercises">Download</a>
                            </div>
                            <!-- <small class="text-muted">Composer</small> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="album py-5 bg-dark">
    <div class="container">

        <h2 class="section-header">Compositions</h2>
        <br>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Double Stop March.png" class="card-img-top"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Double Stop March</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Double Stop March.pdf"
                                    download="Double Stop March">Download</a>
                            </div>
                            <small class="text-muted">Elliot Del Borgo</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Lightly Row.png" class="card-img-top"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lightly Row</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Lightly Row.pdf"
                                    download="Lightly Row">Download</a>
                            </div>
                            <!-- <small class="text-muted">Composer</small> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Twinkle Twinkle.png" class="card-img-top"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Twinkle Twinkle Little Star</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Twinkle Twinkle.pdf"
                                    download="Twinkle Twinkle Little Star">Download</a>
                            </div>
                            <!-- <small class="text-muted">Composer</small> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Rain, Rain, Go Away, Starlight, Starbright, Cactus Gardens, Obsiwana, Grand Canyon Waltz.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Rain, Rain, Go Away, Starlight, Starbright, Cactus Gardens, Obsiwana, Grand
                            Canyon Waltz</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Rain, Rain, Go Away, Starlight, Starbright, Cactus Gardens, Obsiwana, Grand Canyon Waltz.pdf"
                                    download="Rain, Rain, Go Away, Starlight, Starbright, Cactus Gardens, Obsiwana, Grand Canyon Waltz">Download</a>
                            </div>
                            <small class="text-muted">Various</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 5 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Song of the Wind, Badge March, Camptown Races, Baa Baa Black Sheep.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Song of the Wind, Badge March, Camptown Races, Baa Baa Black Sheep</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Song of the Wind, Badge March, Camptown Races, Baa Baa Black Sheep.pdf"
                                    download="Song of the Wind, Badge March, Camptown Races, Baa Baa Black Sheep">Download</a>
                            </div>
                            <small class="text-muted">Various</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="album py-5 bg-dark">
    <div class="container">

        <h4 class="sub-section-header">Handel Royal Fireworks Suite</h4>
        <h5 class="sub-section-header">La Rejouissance</h5>
        <br>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Full Score.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite La Rejouissance</p>
                        <p><b>Full Score</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Full Score.pdf"
                                    download="Handel Royal Fireworks Suite La Rejouissance Full Score">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Violin Harmony A.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite La Rejouissance</p>
                        <p><b>Harmony A</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Violin Harmony A.pdf"
                                    download="Handel Royal Fireworks Suite La Rejouissance Violin Harmony A">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Violin Harmony B.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite La Rejouissance</p>
                        <p><b>Harmony B</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Violin Harmony B.pdf"
                                    download="Handel Royal Fireworks Suite La Rejouissance Violin Harmony B">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Violin Melody.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite La Rejouissance</p>
                        <p><b>Melody</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/La Rejouissance/Violin Melody.pdf"
                                    download="Handel Royal Fireworks Suite La Rejouissance Violin Melody">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="album py-5 bg-dark">
    <div class="container">

        <h4 class="sub-section-header">Handel Royal Fireworks Suite</h4>
        <h5 class="sub-section-header">Menuet</h5>
        <br>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Full Score.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite Menuet</p>
                        <p><b>Full Score</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Full Score.pdf"
                                    download="Handel Royal Fireworks Suite Menuet Full Score">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Violin Harmony A.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite Menuet</p>
                        <p><b>Harmony A</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Violin Harmony A.pdf"
                                    download="Handel Royal Fireworks Suite Menuet Violin Harmony A">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Violin Harmony B.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite Menuet</p>
                        <p><b>Harmony B</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Violin Harmony B.pdf"
                                    download="Handel Royal Fireworks Suite Menuet Violin Harmony B">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Violin Melody.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Handel Royal Fireworks Suite Menuet</p>
                        <p><b>Melody</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Handel Royal Fireworks Suite La Rejouissance/Menuet/Violin Melody.pdf"
                                    download="Handel Royal Fireworks Suite Menuet Violin Melody">Download</a>
                            </div>
                            <small class="text-muted">Handel</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="album py-5 bg-dark">
    <div class="container">

        <h4 class="sub-section-header">Tartini Trio Sonata Op. 8</h4>
        <h5 class="sub-section-header">Andante</h5>
        <br>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Tartini Trio Sonata Op. 8 Andante/Full Score.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Tartini Trio Sonata Op. 8 Andante</p>
                        <p><b>Full Score</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Tartini Trio Sonata Op. 8 Andante/Full Score.pdf"
                                    download="Tartini Trio Sonata Op. 8 Andante Full Score">Download</a>
                            </div>
                            <small class="text-muted">Tartini</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Tartini Trio Sonata Op. 8 Andante/Violin Harmony A.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Tartini Trio Sonata Op. 8 Andante</p>
                        <p><b>Harmony A</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Tartini Trio Sonata Op. 8 Andante/Violin Harmony A.pdf"
                                    download="Tartini Trio Sonata Op. 8 Andante Violin Harmony A">Download</a>
                            </div>
                            <small class="text-muted">Tartini</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Tartini Trio Sonata Op. 8 Andante/Violin Harmony B.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Tartini Trio Sonata Op. 8 Andante</p>
                        <p><b>Harmony B</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Tartini Trio Sonata Op. 8 Andante/Violin Harmony B.pdf"
                                    download="Tartini Trio Sonata Op. 8 Andante Violin Harmony B">Download</a>
                            </div>
                            <small class="text-muted">Tartini</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/pieces/Tartini Trio Sonata Op. 8 Andante/Violin Melody.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Tartini Trio Sonata Op. 8 Andante</p>
                        <p><b>Melody</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/pieces/Tartini Trio Sonata Op. 8 Andante/Violin Melody.pdf"
                                    download="Tartini Trio Sonata Op. 8 Andante Violin Melody">Download</a>
                            </div>
                            <small class="text-muted">Tartini</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>