<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Violin Sheet Music Collection</h1>
        <p class="lead text-muted">Selected songs to help you practice counting, rhythm, and tone</p>
    </div>
</section>

<div class="album py-5 bg-dark">
    <div class="container">

        <h2 class="section-header">Exercises</h2>
        <br>

        <div class="row">
            
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/exercises/Violin Finger and Letter Names Worksheet.png"
                            class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Violin Finger and Letter Names Worksheet</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/exercises/Violin Finger and Letter Names Worksheet.pdf"
                                    download="Violin Finger and Letter Names Worksheet">Download</a>
                            </div>
                            <!-- <small class="text-muted">Composer</small> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="preview-image">
                        <img src="../../assets/img/violin/exercises/Violin Fingering Exercises.png" class="card-img-top"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Violin Fingering Exercises</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="../../assets/pdf/violin/exercises/Violin Fingering Exercises.pdf"
                                    download="Violin Fingering Exercises">Download</a>
                            </div>
                            <!-- <small class="text-muted">Composer</small> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="album py-5 bg-dark">
    <div class="container">
        <h2 class="section-header">Compositions</h2>
        <br>


    </div>
</div>